extends ../layouts/app-layout-full

block variables
  - title= "Homepage"
  - modules= ['red-push']

block content

  //- include ../red-blogeuse/content
  include ../red-push/content
  //- include ../red-share/content

