include ../red-app/mixins/all

footer.red-footer#red-footer
  .container
    .row
      .col-sm-12
        .border-top
          ul
            li
              a(href="http://www.renault.fr",target="_blank",data-parameters) © Renault 2014
