
<section class="red-push">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div itemscope="itemscope" itemtype="http://schema.org/Person">
          <div itemprop="name">
            <h1 class="h4"><strong id="name">MAHMAL Sami</strong></h1>
          </div>
          <div itemprop="jobtitle" id="jobtitle">Geek</div>
          <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
            <div itemprop="addressLocality">Paris<span itemprop="addressCountry">, France</span></div>
          </div>
          <div>
            <meta itemprop="birthDate" content="1988-10-01"/>
          </div>
          <ul class="list-unstyled">
            <li><i class="fa fa-phone fa-fw"></i><a id="tel" href="tel:0033624445420" class="unstyled"></a></li>
            <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:mahmalsami@gmail.com?Subject=Contact%20from%20mahmalsami.com" id="email"></a></li>
          </ul>
        </div><br/>
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/mahmal.sami"><i class="fa fa-facebook fa-fw fa-3x"></i></a></li>
          <li><a href="https://twitter.com/mahmalsami"><i class="fa fa-twitter fa-fw fa-3x"></i></a></li>
          <li><a href="https://plus.google.com/101081461523676704744"><i class="fa fa-google-plus fa-fw fa-3x"></i></a></li>
          <li><a href="https://fr.linkedin.com/in/mahmalsami"><i class="fa fa-linkedin fa-fw fa-3x"></i></a></li>
          <li><a href="https://github.com/mahmalsami"><i class="fa fa-github-alt fa-fw fa-3x"></i></a></li>
        </ul>
        <hr class="small"/>
      </div>
    </div>
  </div>
</section>